#toolbox .titleWrapper {
  font-size: 15px;
  font-weight: bold;
  background-color: #286090;
  color: #EEE;
  margin: 0;
  padding: 0;
  border: 1px solid #337bb8;
}
.operationBtn {
  width: 100%;
  margin: 2px 0 2px 0;
}
.assertBtn {
  padding: 3px;
  text-align: center;
}
