body,
html {
  margin: 0;
  height: 100%;
  overflow-y: auto;
}
#header {
  background-color: #333333;
  color: #fff;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #666666;
}
#content {
  background-color: #999;
}
.box {
  border: 1px solid black;
  height: 620px;
  overflow: scroll;
  padding: 0;
}
