<div class="consoleContainer">
    <button class="btn stepBtn" ng-click="start()">
        <strong>Start</strong>
        <br>
        (environment: dev)
    </button>
    <br>
    <div ng-repeat="op in operations">
        <span class="glyphicon glyphicon-arrow-down arrowLink"></span>
        <br>
        <button class="btn stepBtn" ng-click="selectOperation(op)">
            <strong>{{op.key}}. {{op.name}}</strong>
            <br>
            {{ op.params }}
        </button>
    </div>
</div>