.titleWrapper {
  font-size: 15px;
  font-weight: bold;
  background-color: #286090;
  color: #EEE;
  margin: 0;
  padding: 0;
  border: 1px solid #337bb8;
}

.inspectorTable {
  border-collapse: collapse;
  background-color: #EEE;
  width: 100%;
}
.inspectorTable td,
.inspectorTable th {
  border: 1px solid #777;
}
.inspectorTable td.propertyName {
  padding-left: 1px;
}
.inspectorTable td.propertyValue {
  padding-left: 1px;
}
